[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Mario Catuogno
    email = mario.catuogno@gmail.com
[core]
    excludesfile = ~/.gitignore
